In [ ]:
exercise 2: Create markdown cell with title of the notebook

Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.
Take a screenshot of the markdown cell and name it as 2-title.png (Images can be saved with either the .jpg or .png extension.)

# Data Science Tools and Ecosystem

In [ ]:
Exercise 3 - Create a markdown cell for an introduction

Write an introductory sentence about the notebook such as the follows:

In this notebook, Data Science Tools and Ecosystem are summarized.
Take a screenshot of the markdown cell and name it as 3-intro.png (Images can be saved with either the .jpg or .png extension.)

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Exercise 4 - Create a markdown cell to list data science languages

Start the cell with an overview line such as:

Some of the popular languages that Data Scientists use are:
Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.
Take a screenshot of the markdown cell and name it as 4-dslanguages.png (Images can be saved with either the .jpg or .png extension.)

Some of the popular languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Java
5. C/C++

In [ ]:
Add an overview line to the cell like:

Some of the commonly used libraries used by Data Scientists include:
Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.
Take a screenshot of the markdown cell and name it as 5-dslibraries.png

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy
4. Scikit-learn

In [ ]:
Exercise 6 - Create a markdown cell with a table of Data Science tools

Create a single column table in this cell with the first row containing the header
Data Science Tools. The subsequent three rows in the table should indicate three development
environment open source tools used in data science.

Table for data science tools:

|Data Science Tools|
|------------------|
|Apache Spark|
|Google Colab|
|RStudio|

In [ ]:
Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Add a line in this cell with H3 style heading with text like:

Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
Exercise 8 - Create a code cell to multiply and add numbers

In this code cell evaluate the expression (3*4)+5.
Insert a comment line before the expression to explain the operation e.g. 
This a simple arithmetic expression to mutiply then add integers.
Then execute the cell to ensure the expression returns the expected output of 17.

In [7]:
# This is a simple arithmetic expression to multiply and then add integers.
(3*4)+5

17

In [ ]:
In this code cell write an expression that converts 200 minutes into hours.
Insert a comment line before the expression to explain the operation e.g.
This will convert 200 minutes to hours by diving by 60.
Run the cell to evaluate the expression.

In [8]:
# This will convert 200 minutes to hours by diving it by 60
200/60

3.3333333333333335

In [ ]:
Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that
this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled:
Objectives: in bold font. 
Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook,
such as List popular languages for Data Science.

**Objectives covered in this notebook**
* Performing arithmetic operations
* Creating ordered table
* Listing some popular languages for Data Science
* Listing some popular open-source environments for Data Science

In [ ]:
In this markdown cell markdown cell include the following text 
Author in H2 style heading. Include your name as regular text below the word Author.

## Author
Mikheil Kvizhinadze